{% extends 'base.html' %}

{% block title %}
Dodaj książkę
{% endblock %}

{% block special_nav %}
    <a href="/" class="nav-link">Powrót</a>
{% endblock %}


{% block body %}
    <div class="container">
            <h1>Importuj książkę</h1>

        {% if succes_info|length > 0 %}
            <div class="alert alert-success">
            {{ succes_info }}
            </div>
        {% endif %}

        {% if info|length > 0 %}
            <div class="alert alert-danger">
            {% for i in info %}
                {{ i }}<br/>
            {% endfor %}
            </div>
        {% endif %}
        <div class="card">

            <form method="POST">
                {% csrf_token %}
                <div class="card-body ">
                    {{ form.as_p }}
                </div>
            <div class="card-footer">
                <input type="submit" value="Dodaj" class="btn-primary">
            </div>
            </form>
        </div>
    </div>
{% endblock %}